[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
hash-http-content = {file = "https://github.com/cisagov/hash-http-content/archive/v0.0.1.tar.gz"}
requests = "*"
urllib3 = "*"
pip = "*"
setuptools = "*"
wheel = "*"

[dev-packages]

[requires]
python_version = "3"
